<!DOCTYPE html>
<html>
  <head>
    <title><%= result.username %></title>    
    <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous"></script>
    <link rel='stylesheet', href='/stylesheets/style.css'/> 
  </head>
  <body>        
    <div class="py-3">
      <% if (!currentUser) {%>
        <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
          <div class="box-radius border p-3">
            <h1>You need to log in to see your user page</h1>   
            <a href="/"><button type="button" class="btn btn-primary">Go back home</button></a>  
            <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>  
          </div>          
        </div>        
      <% } else { %>
        <h4>Username: <%= result.username %> </h4>
        <p>Joined: <%= result.joinedDate %></p> 
        <% if (currentUser.isAdmin) {%>        
            <a href="<%= result.url %>/edit"><button class="btn btn-success">Update </button></a> 
            <a href="<%= result.url %>/delete"><button class="btn btn-danger">Delete </button></a>            
        <% } %>          
        <a href="/"><button type="button" class="btn btn-primary">Go back home</button></a> 
        <div class="col-6 mx-auto">
          <% result.messages.forEach(res =>{ %> 
            <div class="text-center border pt-3 box-radius">
              <h5>Title: <%= res.title %></h5>
              <h6>Message: <%= res.message %></h6>
              <div class="text-right">
                <p>Posted date: <span><%= res.date %></span></p>
              </div>              
            </div>
          <% }); %>  
        </div>    
      <%}%>                                                                    
    </div>                
  </body>
</html>